@import 'src/_variables.scss';
.settings_tab-switcher {
  height: 100%;

  .setting-item {
    border-bottom: 2px solid var(--fg, $fallback--fg);
    margin: 1em 1em 1.4em;
    padding-bottom: 1.4em;

    > div {
      margin-bottom: .5em;
      &:last-child {
        margin-bottom: 0;
      }
    }

    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
      margin-bottom: 1em;
    }

    select {
      min-width: 10em;
    }

    textarea {
      width: 100%;
      max-width: 100%;
      height: 100px;
    }

    .unavailable,
    .unavailable svg {
      color: var(--cRed, $fallback--cRed);
      color: $fallback--cRed;
    }

    .number-input {
      max-width: 6em;
    }
  }
}
