@import '../../_variables.scss';

.emoji-picker {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  left: 0;
  height: 320px;
  margin: 0 !important;
  z-index: 1;

  .keep-open {
    padding: 7px;
    line-height: normal;
  }

  .heading {
    display: flex;
    height: 32px;
    padding: 10px 7px 5px;
  }

  .content {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    min-height: 0px;
  }

  .emoji-tabs {
    flex-grow: 1;
  }

  .additional-tabs {
    border-left: 1px solid;
    border-left-color: $fallback--icon;
    border-left-color: var(--icon, $fallback--icon);
    padding-left: 7px;
    flex: 0 0 0;
  }

  .additional-tabs,
  .emoji-tabs {
    display: block;
    min-width: 0;
    flex-basis: auto;
    flex-shrink: 1;

    &-item {
      padding: 0 7px;
      cursor: pointer;
      font-size: 24px;

      &.disabled {
        opacity: 0.5;
        pointer-events: none;
      }
      &.active {
        border-bottom: 4px solid;

        i {
          color: $fallback--lightText;
          color: var(--lightText, $fallback--lightText);
        }
      }
    }
  }

  .sticker-picker {
    flex: 1 1 0
  }

  .stickers,
  .emoji {
    &-content {
      display: flex;
      flex-direction: column;
      flex: 1 1 0;
      min-height: 0;

      &.hidden {
        opacity: 0;
        pointer-events: none;
        position: absolute;
      }
    }
  }

  .emoji {
    &-search {
      padding: 5px;
      flex: 0 0 0;

      input {
        width: 100%;
      }
    }

    &-groups {
      flex: 1 1 1px;
      position: relative;
      overflow: auto;
      user-select: none;
      mask: linear-gradient(to top, white 0, transparent 100%) bottom no-repeat,
            linear-gradient(to bottom, white 0, transparent 100%) top no-repeat,
            linear-gradient(to top, white, white);
      transition: mask-size 150ms;
      mask-size: 100% 20px, 100% 20px, auto;
      // Autoprefixed seem to ignore this one, and also syntax is different
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      &.scrolled {
        &-top {
          mask-size: 100% 20px, 100% 0, auto;
        }
        &-bottom {
          mask-size: 100% 0, 100% 20px, auto;
        }
      }
    }

    &-group {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      padding-left: 5px;
      justify-content: left;

      &-title {
        font-size: 12px;
        width: 100%;
        margin: 0;
        &.disabled {
          display: none;
        }
      }
    }

    &-item {
      width: 32px;
      height: 32px;
      box-sizing: border-box;
      display: flex;
      font-size: 32px;
      align-items: center;
      justify-content: center;
      margin: 4px;

      cursor: pointer;

      img {
        object-fit: contain;
        max-width: 100%;
        max-height: 100%;
      }
    }

  }

}
