.chat-list-item {
  &:hover .animated.avatar {
    canvas {
      display: none;
    }
    img {
      visibility: visible;
    }
  }

  display: flex;
  flex-direction: row;
  padding: 0.75em;
  height: 4.85em;
  overflow: hidden;
  box-sizing: border-box;
  cursor: pointer;

  :focus {
    outline: none;
  }

  &:hover {
    background-color: var(--selectedPost, $fallback--lightBg);
    box-shadow: 0 0px 3px 1px rgba(0, 0, 0, 0.1);
  }

  .chat-list-item-left {
    margin-right: 1em;
  }

  .chat-list-item-center {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    word-wrap: break-word;
  }

  .heading {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    line-height: 1em;
  }

  .heading-right {
    white-space: nowrap;
  }

  .member-count {
    color: $fallback--text;
    color: var(--faintText, $fallback--text);
    margin-right: 2px;
  }

  .name-and-account-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    flex-shrink: 1;
  }

  .chat-preview {
    display: inline-flex;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0.35rem 0;
    height: 1.2em;
    line-height: 1.2em;
    color: $fallback--text;
    color: var(--faint, $fallback--text);
  }

  a {
    color: var(--faintLink, $fallback--link);
    text-decoration: none;
    pointer-events: none;
  }

  .unread-indicator-wrapper {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }

  .unread-indicator {
    border-radius: 100%;
    height: 8px;
    width: 8px;
    background-color: $fallback--link;
    background-color: var(--link, $fallback--link);
  }
}
