@import '../../../_variables.scss';
.profile-tab {
  .bio {
    margin: 0;
  }

  .visibility-tray {
    padding-top: 5px;
  }

  input[type=file] {
    padding: 5px;
    height: auto;
  }

  .banner-background-preview {
    max-width: 100%;
    width: 300px;
    position: relative;

    img {
      width: 100%;
    }
  }

  .uploading {
    font-size: 1.5em;
    margin: 0.25em;
  }

  .name-changer {
    width: 100%;
  }

  .current-avatar-container {
    position: relative;
    width: 150px;
    height: 150px;
  }

  .current-avatar {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: $fallback--avatarRadius;
    border-radius: var(--avatarRadius, $fallback--avatarRadius);
  }

  .reset-button {
    position: absolute;
    top: 0.2em;
    right: 0.2em;
    border-radius: $fallback--tooltipRadius;
    border-radius: var(--tooltipRadius, $fallback--tooltipRadius);
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0.7;
    color: white;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    line-height: 1.5em;
    font-size: 1.5em;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }

  .oauth-tokens {
    width: 100%;

    th {
      text-align: left;
    }

    .actions {
      text-align: right;
    }
  }

  &-usersearch-wrapper {
    padding: 1em;
  }

  &-bulk-actions {
    text-align: right;
    padding: 0 1em;
    min-height: 28px;

    button {
      width: 10em;
    }
  }

  &-domain-mute-form {
    padding: 1em;
    display: flex;
    flex-direction: column;

    button {
      align-self: flex-end;
      margin-top: 1em;
      width: 10em;
    }
  }

  .setting-subitem {
    margin-left: 1.75em;
  }

  .profile-fields {
    display: flex;

    &>.emoji-input {
      flex: 1 1 auto;
      margin: 0 .2em .5em;
      min-width: 0;
    }

    &>.icon-container {
      width: 20px;
      align-self: center;
      margin: 0 .2em .5em;
    }
  }
}
