@import './_variables.scss';
#app {
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 0 50px;
    min-height: 100vh;
}

h4 {
    margin: 0;
}

#content {
    padding-top: 60px;
}

.text-center {
    text-align: center;
}

body {
    font-family: sans-serif;
    font-size: 14px;
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0 10px 0 10px;
}

.gaps {
    margin: -1em 0 0 -1em;
}

.item {
    flex: 1;
}

.gaps > .item {
    padding: 1em 0 0 1em;
}

.auto-size {
    flex: 1
}

nav {
    width: 100%;
    align-items: center;
    position: fixed;
    height: 50px;

    .inner-nav {
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        align-items: center;
        flex-basis: 920px;
        margin: auto;
        height: 50px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
}

main-router {
    flex: 1;
}

.status.compact {
    color: rgba(0, 0, 0, 0.42);
    font-weight: 300;

    p {
        margin: 0;
        font-size: 0.8em
    }
}

/* Panel */

.panel {
    display: flex;
    flex-direction: column;
    margin: 0.5em;

    border-radius: 0.5em;
}

.panel-heading {
    border-radius: 0.5em 0.5em 0 0;
    background-size: cover;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    text-align: center;
    font-size: 1.3em;
}

.panel-footer {
    border-radius: 0 0 0.5em 0.5em;
}

.panel-body > p {
    padding: 1em;
    margin: 0;
}


#content {
    margin: auto;
    max-width: 920px;
    border-radius: 1em;
    padding-bottom: 1em;
    background-color: rgba(0,0,0,0.1);
}

.media-body {
    flex: 1;
    padding-left: 0.3em;
}

.container > * {
    min-width: 0px;
}

.user-info {
    padding: 1em;
    img {
        border: 3px solid;
        border-radius: 0.5em
    }

    .user-screen-name {
        font-weight: lighter;
    }
}

.user-counts {
    display: flex;
    padding: 1em 1em 0em 1em;
}

.user-count {
    flex: 1;

    h5 {
        font-weight: lighter;
        margin: 0;
    }
}

.fa {
    color: grey;
}


.status-actions {
    width: 50%;
    display: flex;

    div, favorite-button {
        flex: 1;
    }
}

status-text-container {
    display: block;
}

.status-el {
    line-height: 18px;

    .notify {
        .avatar {
            border-width: 3px;
            border-style: solid;
        }
    }

    .media-left {
        img {
            margin-top: 0.2em;
            float: right;
            margin-right: 0.3em;
            border-radius: 20%;
        }
    }

    .retweet-info {
        padding: 0.3em;

        .media-left {
            display: flex;

            i {
                align-self: center;
                text-align: right;
                flex: 1;
                padding-right: 0.3em;
            }
        }
    }

    .media-heading {
        small {
            font-weight: lighter;
        }
    }
}
nav {
    z-index: 1000;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .2s
}
.fade-enter, .fade-leave-active {
  opacity: 0
}

.main {
    flex: 2;
    flex-basis: 500px;
}

.sidebar {
    flex: 1;
    flex-basis: 300px;
}

.mobile-shown {
    display: none;
}

.panel-switcher {
    display: none;
    width: 100%;

    button {
        display: block;
        flex: 1;
        margin: 0.5em;
        padding: 0.5em;
    }
}

@media all and (max-width: 959px) {
    .mobile-hidden {
        display: none;
    }

    .panel-switcher {
        display: flex;
    }
}

.item.right {
    text-align: right;
    padding-right: 20px;
}
